*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #090221;

}
.container{
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
textarea{
    width: 100%;
    resize: none;
    background-color: #172a46;
    border: 1.5px solid #8ba818;
    /* border: 1.5px solid #1fa818; */
    font-size: 16px;
    line-height: 30px;
    padding: 15px;
    border-radius: 3px;
    color: #e6f0f4;
    outline: none;
}
p{
    color: #e5e5e5;
    text-align: right;
    margin-top: 20px;
}