@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
    --primary: #ff4646;
}

* {
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-image: url('https://imgur.com/C13bg3W.png');
    background-repeat: no-repeat;
}

.content header nav {
    display: flex;
    align-items: center;
}

.content header nav ul {
    list-style: none;
    display: flex;
}

.content header nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.content header nav ul li {
    margin-left: 2rem;
}

.content header nav ul li a:hover {
    color: var(--primary);
}

.logo h1 {
    font-size: 50px;
}

.logo h1 span {
    color: var(--primary);
}

main {
    padding: 1rem;
    width: 350px;
}

.name h1,
.name span {
    font-size: 100px;
    line-height: 80px;
    font-family: 'Lobster';
}

.name h1 span {
    color: var(--primary);
}

.description {
    margin-top: 2rem;
}

.cta {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.cta .btn {
    padding: 0.6rem 1.3rem;
    border: none;
    outline: none;
    background: var(--primary);
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.btn-sec {
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 1rem;
}

.btn-sec svg {
    height: 24px;
    width: 24px;
}