@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff5ed;
}
.hero {
  width: 100%;
  height: 100vh;
  background: #fff5ec;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.logo {
  font-size: 40px;
  font-weight: 800;
  color: #35cd8c;
}
.right-sidebar {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #35cd8c;
  border-bottom-left-radius: 4em;
}
.content {
  display: flex;
  justify-content: space-between;
}
.left-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.left {
  width: 100%;
  margin-left: 6em;
  margin-top: 0;
}
.left h2 {
  color: #f5ebe6;
  font-size: 10rem;
  line-height: 1;
}
.left h3 {
  color: #2e266f;
  font-size: 5rem;
  line-height: 1.2;
  width: 100%;
}
.controls {
  display: inline;
  background-color: white;
  width: 55%;
  margin-left: 7em;
}
input {
  margin-left: 8em;
  padding: 14px;
  width: 40%;
  outline: none;
  border: none;
  color: #727272;
  position: relative;
}
button {
  background: #35cd8c;
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  width: 155px;
  border-top-left-radius: 40px;
  cursor: pointer;
  position: absolute;
}
.right {
  width: 90%;
  z-index: 999;
  position: relative;
}
.right .veg {
  width: 22.5%;
  position: absolute;
  right: 480px;
  top: 120px;
  z-index: 2;
  transform: rotate(331deg);
}
.right .plate {
  z-index: 1;
  width: 55%;
  margin-left: 45px;
  margin-top: 80px;
}
.meal-list-container {
  background-color: #35cd8c;
  margin: 2em;
  border-radius: 4em;
}

.nutrients {
  background-color: #fff5ed;
  max-width: 20em;
  min-height: 20em;
  margin: 12em auto 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.nutrients-title {
  color: #2e266f;
  padding: 0.5em;
  border-bottom: solid 0.01em #2e266f;
}

.nutrients-list {
  list-style: none;
}
li {
  color: #2e266f;
  padding: 1em;
  text-decoration: none;
}
span {
  font-weight: 600;
}
.meals {
  display: flex;
}

img {
  width: 100%;
  margin-bottom: 0.5rem;
  object-fit: cover;
  border-radius: 1em;
}

article {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 3rem 5rem;
  max-width: 300px;
  box-shadow: 0 10px 10px 15px rgba(77, 77, 77, 0.15);
  background-color: #fff5ed;
  border-radius: 2em;
}

ul {
  list-style: none;
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.meal-title {
  color: #2e266f;
  padding: 1em;
  text-transform: capitalize;
}
.meal-btn {
  text-decoration: none;
  background-color: #35cd8c;
  color: #f3f3f3;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 1em 0;
  border-top-left-radius: 10px;
  transition: transform 0.3s ease-in;
}

.meal-btn:hover {
  transform: scale(0.9);
  cursor: pointer;
}
