
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background: #5352ed;
    color: #fff;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5352ed;
    font-family: cursive;
}
.wrapper{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    position: relative;
}
.wrapper::before{
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #bfbfbf;
}
.wrapper .col .text{
    font-size: 28px;
    text-align: center;
    font-weight: 500;

}
.wrapper .col .s6{
    margin-top: 30px;
}
.wrapper .col .s6 .sm{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-left: 2px;
}
.wrapper .col .s6 input{
    width: 100%;
    height: 45px;
    border: 2px solid #bfbfbf;
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 18px;
    transition: all 0.4s ease;
}
.wrapper .col .s6 input:focus{
    border-color: #4834d4;
}
.wrapper .col .s6 .transfer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.wrapper .col .s6 .transfer .icon span{
    font-size: 28px;
    color: #2f3542;
}
.wrapper .col .s6 .transfer .select-text{
    width: 90px;
    height: 35px;
    padding-left: 6px;
    outline: none;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}
.wrapper .col .s6 .transfer .select-text:focus{
    border-color: #4834d4;
}
.wrapper .col .s6 .button{
    margin-top: 20px;
}
.wrapper .col .s6 .button .btn{
    width: 100%;
    height: 45px;
    background: #5352ed;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.wrapper .col .s6 .s2{
    margin-top: 20px;
}
.wrapper .col .s6 .s2 .conversion{
    font-size: 20px;
}
 
.text{
    font-family: cursive;
    font-weight: bold;
    background-image: linear-gradient(to right, skyblue,whitesmoke);
}

.btn{
    border-radius:20%;

}
.btn:hover{
   color: #0a0a5c;
}

.wrapper{
    box-shadow: 6px 6px 6px rgb(158, 215, 246);
}
.html{
    background-image: linear-gradient(to right, black,whitesmoke);
}