*{
    margin: 0px;
    padding: 0px;
}

.container{
   background-color: white;
   margin-top: 42px;
}
#ans{
    background-color: #b5d8fd;;
    font-family: emoji;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.7s ease-in-out;
    display: none;
}
#btn{
    border: none;
    background-color: #f59494;
    border-radius: 13px;
    padding: 7px 17px;
    font-size: 18px;
    font-family: emoji;
    color: black;
}
#btn:hover{
    transition: all 0.4s ease-in-out;
    background-color: #fa7676;
    box-shadow: 0 0 12px  black;
}