* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,
    Helvetica,
    sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lang {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0.80em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang a {
    text-decoration: none;
    justify-content: space-between;
    margin: 5px;
}

.lang a:hover {
    text-decoration: underline;
}

header {
    padding: 0.75em;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}

header .links a {
    text-decoration: none;
    color: #333;
    vertical-align: middle;
    display: inline-block;
    margin: 7px;
    font-size: 0.8em;
}

header .links a:hover {
    text-decoration: underline;
}

header .links button {
    border-radius: 7%;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 0.9em;
    width: 95px;
    height: 35px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 15px;
    background-color: #1a73e8;
}

header .links button:hover {
    background-color: #2b7de9;
}

.container .searchcontainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .searchcontainer img {
    max-width: 300px;
}

.container .searchcontainer form {
    max-width: 550px;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .searchcontainer #search {
    width: 100%;
    height: 2.9em;
    border-radius: 24px;
    text-align: center;
    background: none;
    border: 1px solid rgb(218, 218, 218);
    outline: 0;
    transition: 0.1s;
}

.container .searchcontainer #search:focus, .container .searchcontainer #search:active {
    box-shadow: 0 0 3px darkgrey;
}

.container .searchcontainer .search-btn {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 16px;
}

.search-btn button {
    padding: 10px 8px;
    font-size: 14px;
    border: 1px #fff;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    transition: 0.1s;
}

.search-btn button:hover {
    background: #cccccc;
    /* box-shadow: 0 4px 8px whitesmoke; */
}

footer {
    background: #e4e4e4;
    vertical-align:baseline;
    padding: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 0.9em;
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}