.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
  }
  
  .title {
    position: relative;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1d1f1f;
    letter-spacing: 1px;
  }
  
  .container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: 	#e0e5e5; 
    background-image: linear-gradient(to bottom right, 	#99a3a3, 	#e0e5e5); 
    box-shadow: 14px 14px 20px 	#a8b0b2, -14px -14px 20px #ced3d4;
  }
  
  
  
  .inputs {
    text-align: left;
    margin-top: 30px;
  }
  
  label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  button {
    color: white;
    margin-top: 20px;
    background: #1d1c1c;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }
  
  a {
    position: absolute;
    font-size: 8px;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    color: black;
    background: yellow;
    border-radius: 10px;
    padding: 2px;
  }
  
  h1 {
    position: absolute;
    top: 0;
    left: 0;
  }