*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    color:black;
    background-color: brown;
    margin: 0;

}

.container{
    background-color: aliceblue;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh; 
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circleContainer{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: crimson;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle{
    transform: rotate(-70deg);
}

.circle button{
    position: absolute;
    top:50% ;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: large;
    color: aliceblue;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left:60%;
}

.circle button#close{
    left:60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img{
    max-width: 100%;
}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul{
    list-style-type: none;
    padding-left: 30px;
}

nav ul li{
    text-transform: uppercase;
    color: aliceblue;
    margin: 40px 0;
    transform: translate(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i{
    font-size: 20px;
    margin-right: 10px ;
}

nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li +li{
    margin-left: 30px;
    transform: translateX(-200%);
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 h3 {
    color: darkblue;
    margin: 0;
}

.content small{
    font-weight: bold;
    color:rgb(0, 85, 255) ;
    font-style: oblique;
}

.content p {
    color: rgb(0, 162, 207);
    line-height: 1.5;
}

