@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #201528;
}

img {
    height: 120px;
    width: 120px;
}

.rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}