body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    overflow: hidden;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .box {
    margin: 0 auto;
    padding: 15%;
  }
  @media (max-width: 600px) {
    .box {
      margin: 0 auto;
      padding: 30% 50% 10% 10%;
    }
  }
  @media (max-width: 375px) {
    .box {
      margin: 0 auto;
      padding: 40% 100% 20% 0px;
    }
    .container {
      width: 50px;
      height: 50px;
    }
    body {
      background-size: 200% 200%;
    }
  }
  @media (max-width: 475px) {
    .box {
      margin: 0 auto;
      padding: 40% 100% 20% 0px;
    }
    .container {
      width: 50px;
      height: 50px;
    }
    body {
      background-size: 200% 200%;
    }
  }
  
  .container {
    width: 400px;
    margin-top: 50%;
    margin: 0 auto;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  
  .form h2 {
    position: relative;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  .form h2::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
  }
  
  .form .inputBox {
    width: 85%;
    margin-top: 20px;
  }
  
  .form .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  
  .form .inputBox input::placeholder {
    color: #fff;
  }
  
  .form .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .forget {
    margin-top: 5px;
    color: #fff;
  }
  
  .forget a {
    color: #fff;
    font-weight: 600;
  }
  