* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.wrapper {
    background-image: url('bg.jpg');
    aspect-ratio: 1;
    width: 70rem;
    position: relative;
    overflow: hidden;
}

.block {
    width: 18rem;
    aspect-ratio: 1;
    background-color: rgb(51, 184, 184);
    position: absolute;
}

.block-1 {
    top: 16rem;
    right: 44rem;
    transform-origin: bottom right;
    animation: blockAnim 5s infinite linear;
}

@keyframes blockAnim {
    0% {
        transform: translateY(-38rem) rotateZ(0);
    }

    30% {
        transform: translateY(0) rotateZ(0);
    }

    40%, 45%{
        transform: translateY(0) rotateZ(-180deg);
        opacity: 1;
    }

    55%, 100% {
        transform: translateY(38rem) rotateZ(-180deg);
        opacity: 0.5;
    }

}

.block-2 {
    top: 16rem;
    right: 8rem;
    transform-origin: bottom left;
    animation: block2Anim 5s -2.5s infinite linear;
}

@keyframes block2Anim {
    0% {
        transform: translateY(-38rem) rotateZ(0);
        opacity: 0.5;
    }

    30% {
        transform: translateY(0) rotateZ(0);
    }

    40%, 45% {
        transform: translateY(0) rotateZ(180deg);
        opacity: 1;
    }

    55%, 100% {
        transform: translateY(38rem) rotateZ(180deg);
        opacity: 0.5;
    }

}


.ball {
    width: 12rem;
    aspect-ratio: 1;
    background-color: rgb(255, 118, 118);
    border-radius: 50%;
    position: absolute;
    left: 29rem;
    top: 22rem;
    animation: ballAnim 2.5s 0.9s infinite linear;
}

@keyframes ballAnim {
    0% {
        transform: translateY(-20rem) scale(0.8, 1);
    }

    45% {
        transform: translateY(0) scale(0.9, 1);
    }
    
    50% {
        transform: translateY(2rem) scale(1, 0.7);
    }

    60% {
        transform: translateY(-10rem) scale(0.9, 1);
    }

    100% {
        transform: translateY(-20rem) scale(0.8, 1);
    }
}
