@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 98vw;
    height: 91vh;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    background: linear-gradient(to right, #3a4674, #39383a); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    display: block;
    width: 500px;
    margin: 60px auto;
    text-align: left;
  }
  
  label {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }
  
  input[type='password'] {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    transition: .2s;
  }
  
  input[type='password']:focus {
    outline: none;
     -moz-outline: none;
     -webkit-outline: none;
  }
  
  label:before {
    content: "\f070";
    color: rgb(0, 0, 0);
    font-size: 22px;
    /* font-family: 'Roboto', sans-serif; */
    position: absolute;
    right: 25px;
    top: 44px;
  }
  
  .progress-bar_wrap {
    width: 300px;
    height: 5px;
    background: #F6F6FA;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
  }
  
  
  
  .form-1 .progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 33.33%;
    float: left;
    visibility: hidden;
    transition: background-color .2s, visisility .1s;
  }
  
  .form-1 .active {
    visibility: visible;
  }
  
  .progress-bar_item-1 {
    
  }
  
  .progress-bar_item-2 {
  
  }
  
  .progress-bar_item-3 {
  
  }
  
  .progress-bar_text {
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    transition: .2s;
  }
  
  
  
  .form-2 .progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 32.5%;
    margin-right: .8%;
    border-radius: 5px;
    float: left;
    
    transition: background-color .2s, visisility .1s ease-in;
  }
  
  .form-2 .progress-bar_item-1.active {
    background-color: #FF4B47;
  }
  
  .form-2 .progress-bar_item-2.active {
    background-color: #F9AE35;
  }
  
  .form-2 .progress-bar_item-3.active {
    background-color: #2DAF7D;
  }
  
  
  
  
  
  
  