body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    align-self: center;
}

.flex-item1 {
    padding-left: 10px;
    padding-right: 10pxs;
    width: 150px;
    margin: 20px;
    flex: 1;
    align-self: center;  
}

.flex-item2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    margin: 20px;
    flex: 2;
    align-self: center;
}

.flex-item3{
    font-family: 'Times';
    padding-left: 40px;
    padding-right:40px;
}

.flex-item4{
    padding-left: 10px;
    padding-right: 10px;
}

.items {
    padding: 5px;
}

.items2 {
    padding: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.btn1{
    background-color: rgb(16, 22, 58);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn2{
    background-color: rgb(255, 245, 245);
    padding: 13px 18px;
    font-size: 16px;
    color: black;
    border: 2px solid #130e22;
}

.social-buttons{
    align-items: right;
    width: 200px;
    margin: 20px;
}

.foot{
    color:rgb(16, 22, 58);
    text-align: center;
}

body{
    background-color: rgb(255, 245, 245)
}

.background1{
    opacity: 0.1;
    position: absolute;
    top:-150px;
    left: 550px;
    transform: rotate(90deg);
}

.background2{
    opacity: 0.1;
    position: absolute;
    top:500px;
    left: 10px;
    transform: rotate(180deg);
}

.background3{
    opacity: 0.1;
    position: absolute;
    top:600px;
    left: 700px;
    transform: rotate(30deg);
}

.background4{
    opacity: 0.1;
    position: absolute;
    top:100px;
    left:1250px;
    transform: rotate(90deg);
}