@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* CSS Document */
html{position: relative;}
body{ background: #202125; font-family: "Montserrat", Arial; color: #ccc; font-size: 14px; line-height: 1.4em; font-weight: 400; padding: 0; margin: 0; -webkit-text-size-adjust: none;}
a{outline:none; -moz-outline: none; color: #aaa}
a:hover{color: #cae962; text-decoration: none}
button, .btn{ border: none !important;}
.btn-sm{font-size: 12px;}
.btn-radius{border-radius: 30px;}
.btn-highlight{font-weight: 600; color: #cae962; font-size: 1.2em; position: relative; padding-left: 50px; display: inline-block}
.btn-highlight img{width: 40px; height: auto; position: absolute; top: 0; left: 0;}
.ulclear{list-style: none; padding: 0;}
.container{max-width: 1200px !important; width: 100% !important;}
#xwrapper{ width: 100%; position: relative;}
#xheader{padding: 0; margin-top: 50px; position: relative;}
#xheader #xlogo{display: block; height: 40px; margin: 10px 0; float: left;}
#xheader #xlogo img{height: 100%; width: auto; float: left; margin-right: 10px;}
#xheader #xlogo span{line-height: 40px; font-size: 20px; font-weight: 600; color: #cae962 !important;}
#xheader_menu{width: 100%; border-radius: 30px 30px 0 0;}
#xheader_menu .container{position: relative;}
#xheader_menu ul.header_menu-list{ list-style: none; padding: 0; display: block; }
#xheader_menu ul.header_menu-list .nav-item{ display: inline-block; margin: 0 40px 0 0; position: relative;}
#xheader_menu ul.header_menu-list .nav-item>a{ height: 60px; line-height: 60px; display: block; margin: 0; padding: 0; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: 1px;}
#xheader_menu ul.header_menu-list .nav-item>a:hover{ color: #cae962;}
#xheader_browser{float: left; height: 60px; position: relative; margin: 0 20px 0 0; display: none}
#xheader_browser .header-btn{height: 34px; cursor: pointer; margin: 13px 0; line-height: 34px; padding: 0 12px; font-size: 12px; border-radius: 3px; color: #fff;}
#xheader_browser.active .header-btn{ color: #cae962;}
/* footer */
#xfooter-about{padding: 0 0 40px; margin-top: 80px;}
#xfooter-about .about-text{ max-width: 800px; margin: 0 0 20px; line-height: 1.6em; font-size: 12px; opacity: .4}
#xfooter-about .copyright{margin-bottom: 0 !important; font-size: 13px;}
/* page */

#mw-top{ padding: 0; margin: 0; position: relative; z-index: 3; background-image: url("../../images/zoro-bg.jpg"); background-position: 50% 25%; background-size: cover;}
#mw-top:before{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgb(32,33,37);
	background: -moz-linear-gradient(180deg, rgba(32,33,37,1) 0%, rgba(32,33,37,0) 64%);
	background: -webkit-linear-gradient(180deg, rgba(32,33,37,1) 0%, rgba(32,33,37,0) 64%);
	background: linear-gradient(180deg, rgba(32,33,37,1) 0%, rgba(32,33,37,0) 64%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202125",endColorstr="#202125",GradientType=1); }
#mw-top .mwt-content{ padding: 100px 0 100px;padding-right: 550px; position: relative}
#mw-top .mwt-content .mwt-icon{position: absolute; right: 0px; bottom: 0; width: 600px;}
#mw-top .mwt-content .mwt-icon img{width: 100%; height: auto;}
#mw-top .mwh-logo{ margin-bottom: 30px;}
#mw-top .mwh-logo .mwh-logo-div{ display: inline-block}
#mw-top .mwh-logo .mwh-logo-div img{height: 60px; width: auto;}
.mw-heading{font-size: 1.8em; font-weight: 600; margin: 0 0 1em; color: #fff; line-height: 1.4em}
#mw-top .mw-sitename{font-size: 28px; font-weight: 700; text-align: center; color: #cae962; margin: 0 0 10px 0}
#mw-top .mw-heading-second{font-size: 20px; font-weight: 600; position: relative; padding-left: 30px; margin: 0 0 15px;}
#mw-top .mw-heading-second:before{content: ""; width: 10px; height: 10px; border-radius: 50%; background: #cae962; left: 0; position: absolute; top: 8px;}
.xhashtag span.title{font-weight: 500; color: #fff; margin-right: 10px; float: left;}
.xhashtag .item{margin: 0 6px 6px 0; display: block; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left;}
.xhashtag .item:after{content: ","}
.xhashtag .item:last-of-type:after{content: ", ..."}
#action-button{margin-bottom: 50px; background: #cae962; border-radius: 0 0 30px 30px;}
#action-button .btn{display: block; border-radius: 0; padding: 15px 20px; font-weight: 600; background: none !important; color: #111 !important; border: none !important; box-shadow: none !important;}
#xsearch.home-search{display: block !important; margin: 10px 0; padding: 0 !important; width: 100%; background: none !important; position: relative !important; top: auto !important; left: auto !important; right: auto !important; bottom: auto !important;}
#xsearch.home-search .search-input{height: 50px; font-weight: 400; border-radius: 30px; padding-left: 20px; padding-right: 20px; font-size: 16px; border: none !important;}
#xsearch.home-search .search-content .search-submit{height: 50px; text-align: center; position: absolute; top: 0; right: 0; bottom: 0; cursor: pointer; display: inline-block; width: 50px; background: #cae962; border-radius: 30px;}
#xsearch.home-search .search-content .search-submit .search-icon i{color: #111; font-size: 20px; line-height: 50px;}
#xsearch.home-search .search-content{position: relative; padding-right: 60px; margin-bottom: 30px;}
.mw-buttons .btn-primary{font-weight: 600; background: #cae962 !important; color: #111 !important; padding: 15px 30px; transition: all .2s ease 0s; -webkit-transition: all .2s ease 0s; -moz-transition: all .2s ease 0s;}
.mw-buttons .btn-primary:hover{transform: scale(1.1); box-shadow: 0 0 20px rgba(97,222,86,.6) !important;}
.mw-body .mwb-left{font-size: 14px; line-height: 1.5em;}
.mw-body .mwb-left p{line-height: 1.4em; margin-bottom: 1em;}
.mw-body .mwb-left ul{padding-left: 15px;}
.mw-body .mwb-left ul li{margin-bottom: 1em;}
.mw-body .mwb-left h2{font-size: 1.5em; margin-top: 1.5em; font-weight: 600; line-height: 1.4em; margin-bottom: 15px; color: #fff;}
.mw-body .mwb-left h3{font-size: 1.2em; margin-top: 1.5em; font-weight: 600; line-height: 1.4em; margin-bottom: 15px; color: #fff;}
.mwb-left{ float: left; width: calc(100% - 450px);}
.mwb-right{ float: right; width: 400px;}
.zr-news .item .zr-news-thumb{width: 100%; padding-bottom: 56%; position: relative; overflow: hidden; display: inline-block; margin-bottom: 10px;}
.zr-news .item .zr-news-thumb img{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover}
.zr-news .item .zrn-title{ color: #fff;}
.zr-news .item .zrn-title:hover{ color: #cae962;}
.zr-news .item .zrn-title .news-title{font-size: 16px; line-height: 1.4em; margin: 0 0 10px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.zr-news .item .description{display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;}
.zr-news.zr-news-list{padding: 0px 20px 50px;  background: rgb(65,66,72);
	background: -moz-linear-gradient(180deg, rgba(65,66,72,0) 0%, rgba(65,66,72,1) 30%, rgba(65,66,72,1) 70%, rgba(65,66,72,0.050840404521183435) 100%);
	background: -webkit-linear-gradient(180deg, rgba(65,66,72,0) 0%, rgba(65,66,72,1) 30%, rgba(65,66,72,1) 70%, rgba(65,66,72,0.050840404521183435) 100%);
	background: linear-gradient(180deg, rgba(65,66,72,0) 0%, rgba(65,66,72,1) 30%, rgba(65,66,72,1) 70%, rgba(65,66,72,0.050840404521183435) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#414248",endColorstr="#414248",GradientType=1); }
.zr-news.zr-news-list .item{ margin-bottom: 20px; position: relative; padding-left: 135px; min-height: 88px;}
.zr-news.zr-news-list .item .news-title{font-size: 14px; margin-bottom: 5px;}
.zr-news.zr-news-list .item .zr-news-thumb{ position: absolute; top: 0; left: 0; width: 120px; padding-bottom: 82px;}
.zr-news.zr-news-list .item .description{-webkit-line-clamp: 2; font-size: 13px;}
.zr-news.zr-news-list .item.item-more{min-height: auto; padding: 0; margin: 0;}
.zr-news.zr-news-list .item.item-more .btn-sm{padding: 10px 10px; background: #5c5d63; color: #fff;}
.heading-news{font-size: 24px; color: #fff; font-weight: 600; margin: 0 0 30px;}
.mw-keywords{margin-bottom: 30px; display: block; overflow: hidden}
.mw-keywords .mwk-item{display: block; float: left; color: #696a71; margin: 0 5px 5px 0; padding: 4px 6px; background: #33343c; border-radius: 3px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 180px;}
.mw-keywords .mwk-item i{display: inline; font-size: 11px; line-height: 12px;}
.mw-keywords .mwk-item:hover{color: #fff; background: #5c5d63;}
.mw-keywords .mwk-item .anime-title{font-size: 12px; line-height: 1.2em; margin: 0; display: inline}
.share-buttons{display: inline-block; width: 100%; margin-bottom: 30px; background-color: #121315; border-radius: 10px}
.share-buttons .share-buttons-block{ padding: 15px; position: relative;}
.share-buttons .share-buttons-block .share-icon{display: none;}
.share-buttons .share-buttons-block .sbb-title{ display: block; font-size: 12px; float: left; padding: 2px 0 2px 20px; border-left: 2px solid #cae962; margin-right: 20px; position: relative;}
.share-buttons .share-buttons-block .sbb-title span{font-weight: 600; font-size: 14px; color: #cae962;}
.share-buttons .share-buttons-block .sbb-social{ float: left; clear: none !important;}
.share-buttons .share-buttons-block .at-style-responsive .at-share-btn{margin: 1px 6px 1px 0 !important;}
@media screen and (max-width: 1199px){
	#xheader{margin-top: 10px;}
	#mw-top .mwt-content .mwt-icon{width: 40%;}
	#mw-top .mwt-content{padding: 60px 0; padding-right: 40%; margin: 0 30px;}
	#xheader_menu{padding-left: 30px;}
}
@media screen and (max-width: 990px){
	.mwb-left, .mwb-right{float: none; width: 100%; margin-bottom: 50px;}
	#xfooter-about{margin-top: 50px;}
}
@media screen and (max-width: 780px){
	#mw-top .mwt-content .mwt-icon{display: none}
	#mw-top .mwt-content{padding: 30px 0;}
	#xheader_browser{display: inline-block}
	#xheader_menu{display: none; position: absolute; left: 15px; width: auto; top: 60px; right: 15px; background: rgba(92,93,99,.98); border-radius: 25px; height: auto; padding: 10px 0; z-index: 99;}
	#xheader_menu .header_menu-list li.nav-item{display: block; margin: 10px 0; float: none; text-align: center}
	#xheader_menu ul.header_menu-list .nav-item > a{height: auto; line-height: normal; padding: 10px 20px; color: #fff; font-size: 16px;}
	#xheader_menu ul.header_menu-list .nav-item > a:hover{color: #cae962;}
	#xheader_menu.active{display: block !important;}
	#mw-home{padding-top: 20px;}
	.mw-heading, .heading-news{font-size: 20px; margin-bottom: 20px;}
	#action-button{margin-bottom: 40px;}
	#xsearch.home-search .search-content .search-submit .search-icon i{font-size: 16px;}
	.mw-body{font-size: 14px; line-height: 1.5em;}
	.mw-buttons .btn{font-size: 18px; padding: 12px 40px;}
}
@media screen and (max-width: 520px){
	#mw-top .mwh-logo{text-align: center}
	#mw-top .mwh-logo .mwh-logo-div img{width: 200px; height: auto;}
	#mw-top .mwt-content{margin: 0 10px; padding-bottom: 50px;}
	.zr-news.zr-news-list .item .zr-news-thumb{width: 80px; padding-bottom: 60px; top: 5px;}
	.zr-news.zr-news-list .item{padding-left: 95px;}
	.zr-news.zr-news-list .item .description{line-height: 1.3em; -webkit-line-clamp: 3}
	.mw-keywords .mwk-item{max-width: 140px;}
	#action-button{border-radius: 30px; position: relative; margin-top: -30px; z-index: 9;}
	#action-button .btn{font-size: 18px;}
	#xsearch.home-search .search-input{font-size: 14px;}
	.xhashtag .item{margin-bottom: 2px;}
	.share-buttons .share-buttons-block .sbb-title{padding: 0; border-left: none; margin-bottom: 10px; float: none}
}