.iii{
   height: 80px;
   width: 80px;

}

body{
    background-color: whitesmoke;
}

#hidy{
    display: none;
}

.ccc{
    padding: 100px;
    color: salmon;
    font-size: 40px;
    text-align: center;
}

#result{
    display: none;
}

#fff{
    font-size: 120px;
    color: lightseagreen;
    text-align: center;
}
.nav-wrapper{
    padding-left: 45%;
    font-family: 'Anton',sans-serif;
}
.brand-logo{
    font-size: 100rem;
}
.btn{
    font-size: small;
    padding-bottom:  2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
 }
 .btn :hover{
    color: yellow;
 }
 .red-text{
     padding-top: 5%;
     font-family: 'Bebas Neue', cursive;
     font-size: 2.5rem;
 }