*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
.fan{
    width: 35%;
    height: 70vh;
    background-image: url('./pic.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: auto;
    margin-top: 0px;
}
.animate{
    animation: rotate 0.2s infinite linear;
    transform-origin: center;
}
.one{
    animation: rotate 1s infinite linear;
}
.two{
    animation: rotate 0.8s infinite linear;
}
.three{
    animation: rotate 0.6s infinite linear;
}
.four{
    animation: rotate 0.4s infinite linear;
}
.five{
    animation: rotate 0.2s infinite linear;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
h1{
    text-align: center;
    font-family: serif;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}

button{
    margin: 6px;
    font-size: 20px;
    padding: 5px 8px;
    font-family: serif;
    font-weight: 600;
    width: 80px;
    border: 2px solid black;
    border-radius: 9px;
    background-color: #f0b3e8;
}
#off{
    position: absolute;
    right: 60px;
}
#on{
    position: absolute;
    left: 60px;
}

.second{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 28px;
}