{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.container{
    width : 100%;
    height: 100vh;
    background: #0c0f14;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1
{
    font-size: 80px;
    font-weight: 600;
}

span{
    color : #ffb325e3
}